.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 22px;
    font-weight: bold;
}

.links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout{
    padding: 5px 20px;
    border: none;
    background-color: #53c28b;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.logout:hover{
    background-color: #fff;
    color: #111;
}


